{% extends 'shop/index.html' %}

{% block content %}
<div class="container mt-5">
    <h2>Create Order</h2>
    <form method="post">
        {% csrf_token %}
        <div>
            <label for="id_payment_method">Payment Method:</label><br>
            {{ form.payment_method }}
            <span>(default: Card)</span>
        </div>
        <div>
            <label for="id_delivery_address">Delivery Address:</label><br>
            {{ form.delivery_address }}
        </div>
        <button type="submit" class="btn btn-primary">Place Order</button>
    </form>
</div>
{% endblock %}
