{% extends 'shop/index.html' %}
{% block content %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-8 col-lg-6">
            <div class="card shadow-lg">
                <div class="card-body" style="color: black;">
                    <h2 class="text-center mb-4">Create Order</h2>
                    <div class="alert alert-info text-center" role="alert">
                        Заказы принимаются только в рабочее время: с 09:00 до 23:00.
                    </div>
                    <form method="post">
                        {% csrf_token %}
                        <div class="form-group">
                            <label for="id_payment_method">Payment Method:</label>
                            {{ form.payment_method }}
                            <span>(default: Card)</span>
                        </div>
                        <div class="form-group">
                            <label for="id_delivery_address">Delivery Address:</label>
                            {{ form.delivery_address }}
                        </div>
                        <button type="submit" class="btn btn-primary w-100">Place Order</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
