{% extends 'shop/base.html' %}
{% load static %}
{% block extra_styles %}
<style>
    html, body {
        height: 100%;
        margin: 0;
    }
    body {
        background: linear-gradient(to right, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
                    url('{% static 'shop/images/background.jpg' %}') no-repeat;
        background-size: cover;
    }
    .navbar {
        background-color: #000;
    }
    .navbar-light .navbar-nav .nav-link, .navbar-brand {
        color: #fff;
    }
    .navbar-light .navbar-nav .nav-link:hover {
        color: #ccc;
    }
    .navbar-brand {
            color: #fff !important; /* Белый цвет текста для логотипа */
        }
    .navbar-toggler-icon {
            background-image: url('data:image/svg+xml;charset=UTF8,%3Csvg viewBox="0 0 30 30" xmlns="http://www.w3.org/2000/svg"%3E%3Cpath stroke="rgba%28255, 255, 255, 1%29" stroke-width="2" stroke-linecap="round" stroke-miterlimit="10" d="M4 7h22M4 15h22M4 23h22"/%3E%3C/svg%3E') !important;/* Можно изменить иконку бургер-меню, если нужно */
    }
    .wrapper {
            display: flex;
            flex-direction: column;
            min-height: 100%;
    }
    .content {
            flex: 1;
    }
    .card {
        background-color: #fff;
        border-radius: 10px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    }
    .card-body {
        text-align: center;
    }
    .card-title {
        color: #333;
    }
    .card-text {
        color: #555;
    }
    .btn-primary, .btn-info {
        width: 100%;
    }
    .btn-primary {
        margin-top: 10px;
    }
    .rating {
        margin-top: 10px;
        color: #ff9800;
    }
</style>
{% endblock %}
{% block content %}
<div class="container mt-5">
    <h2 class="text-center mb-4 text-white">Product List</h2>
    <div class="row justify-content-center">
        {% for product in products %}
        <div class="col-md-4 mb-4">
            <div class="card h-100">
                <img src="{{ product.image.url }}" class="card-img-top" alt="{{ product.name }}">
                <div class="card-body">
                    <h5 class="card-title">{{ product.name }}</h5>
                    <p class="card-text">Price: {{ product.price }} ₽</p>
                    <div class="rating">
                        {% if product.average_rating %}
                            <span>Average Rating: {{ product.average_rating }} / 5</span>
                        {% else %}
                            <span>No ratings yet</span>
                        {% endif %}
                    </div>
                    <a href="{% url 'product_detail' product.id %}" class="btn btn-info">View Details</a>
                    <form action="{% url 'add_to_cart' product.id %}" method="post" class="mt-2">
                        {% csrf_token %}
                        <div class="form-group">
                            <label for="quantity-{{ product.id }}">Quantity:</label>
                            <input type="number" name="quantity" id="quantity-{{ product.id }}" value="1" min="1" class="form-control">
                        </div>
                        <button type="submit" class="btn btn-primary">Add to Cart</button>
                    </form>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
