{% extends 'shop/base.html' %}
{% block content %}
<div class="container mt-5">
    <h2>Your Orders</h2>
    <table class="table">
        <thead>
            <tr>
                <th>Order ID</th>
                <th>Created At</th>
                <th>Status</th>
                <th>Total</th>
            </tr>
        </thead>
        <tbody>
            {% for order in orders %}
            <tr>
                <td>{{ order.id }}</td>
                <td>{{ order.created_at }}</td>
                <td>{{ order.get_status_display }}</td>
                <td>{{ order.get_total_cost }} ₽</td>
            </tr>
            {% empty %}
            <tr>
                <td colspan="4">You have no orders yet.</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}