{% extends 'shop/base.html' %}
{% load static %}
{% block extra_styles %}
   <style>
        html, body {
            height: 100%;
            margin: 0;
            background-color: #f8f9fa; /* Фоновый цвет страницы */
        }
        body {
            background: linear-gradient(to right, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
                        url('{% static 'shop/images/background.jpg' %}') no-repeat center center fixed;
            background-size: cover;

        }
        .container {
            display: flex;
            justify-content: center;
            align-items: center;
            min-height: 50vh; /* Высота контейнера на весь экран */
            padding: 15px; /* Отступы */
        }
        .login-form {
            background-color: #fff; /* Белый фон для формы */
            border-radius: 8px; /* Скругленные углы */
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Тень вокруг формы */
            padding: 30px; /* Внутренние отступы */
            width: 100%;
            max-width: 400px; /* Ширина формы */
        }
        .login-form h2 {
            margin-bottom: 20px; /* Отступ снизу */
        }
        .login-form button {
            width: 100%; /* Кнопка на всю ширину формы */
        }
        .wrapper {
            display: flex;
            flex-direction: column;
            min-height: 100%;
        }
        .content {
            flex: 1;
        }
         .navbar {
            background-color: #000; /* Черный фон для навигационной панели */
        }
        .navbar-light .navbar-nav .nav-link {
            color: #fff; /* Белый цвет текста для ссылок в навигационной панели */
        }
        .navbar-light .navbar-nav .nav-link:hover {
            color: #ccc; /* Цвет текста при наведении на ссылку */
        }
        .navbar-brand {
            color: #fff !important; /* Белый цвет текста для логотипа */
        }
        .navbar-toggler-icon {
            background-image: url('data:image/svg+xml,...'); /* Можно изменить иконку бургер-меню, если нужно */
        }
    </style>
{% endblock %}
{% block content %}
<div class="container">
    <div class="login-form">
        <h2 class="text-center">Login</h2>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="btn btn-primary">Login</button>
        </form>
    </div>
</div>
{% endblock %}